appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
autopep8==1.4.4
black==19.10b0
certifi==2022.12.7
Click==7.0
colorama==0.4.3
Django==2.2.7
django-bootstrap3==11.1.0
django-session-idle-timeout==1.4.2
django-session-timeout==0.0.4
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mongo==0.2.0
nltk==3.4.5
pathspec==0.7.0
pipenv==2018.11.26
pycodestyle==2.5.0
pylint==2.4.4
pymongo==3.9.0
pytz==2019.3
regex==2020.1.8
six==1.13.0
sqlparse==0.3.0
stopwords==0.1.3
toml==0.10.0
typed-ast==1.4.1
virtualenv==16.7.9
virtualenv-clone==0.5.3
wrapt==1.11.2
